 <!-- Load JS -->
  <%= javascript_pack_tag 'load_confirmation'%>

<div class="bg-index" id="bg-index">
  <div class="navbar navbar-expand-lg navbar-light">
    <div class="logo-and-search">
      <div class="navbar-brand">
        <%= link_to root_path do %>
        <%= image_tag "lendya-logo-yellow.png", class:"brand-logo" %>
        <% end %>
      </div>
      <div class="container-search-bar non-home-search-bar">
        <%= form_tag items_path, :class => "search-bar", method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control search-input",
          placeholder: "Do you need anything else?"
        %>
        <%= submit_tag "Search", class: "nav-button-lender btn btn-info", id: "search-button" %>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-center m-4">
      <%= link_to 'Become a lender', new_item_path, :class => "nav-button-lender btn btn-info" %>
      <% if user_signed_in? %>
      <!--<%= current_user.email %>-->
        <%= link_to 'SIGN OUT', destroy_user_session_path, method: 'delete', :class => "nav-text" %>
      <% else %>
        <%= link_to 'SIGN UP', new_user_registration_path, :class => "nav-text" %>
        <%= link_to 'LOGIN', new_user_session_path, :class => "nav-text"%>
      <% end %>
    </div>
  </div>

  <div class="under-nav-breaker">
    <!-- Make space under navbar -->
  </div>

  <div class="processing-booking" id="loading-box">
    <video class="processing-booking-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="<%= image_path "processing-booking-video.mp4" %>" type="video/mp4">
  </video>
  </div>

  <div class="body-container-booking" id="box">
    <div class="booking-header">
      <p>Your Booking has been confirmed!</p>
    </div>
    <div class="confirmation-container">
      <div class="booking-outline">
        <img src="<%= image_path "green-checkmark.png" %>" alt="" class="checkmark">
        <p>Your booking has been confirmed and you will receive all additional information via mail soon!</p>
        <div>
          <%= link_to 'Manage Bookings', dashboard_path, :class => "btn conf-page-button" %>
        </div>
      </div>
    </div>
  </div>

</div>
