<div class="container py-5">
  <div class="row">
    <div class="form-upload shadow-sm p-3 mb-5 bordered col-12 col-md-6 offset-lg-3 justify-content-center p-5">
      <div class="shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="centered"> <h2>Change your password</h2></div>
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.error_notification %>

              <%= f.input :reset_password_token, as: :hidden %>
              <%= f.full_error :reset_password_token %>

            <div class="form-inputs">
              <%= f.input :password,
                          label: "New password",
                          required: true,
                          autofocus: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          label: "Confirm your new password",
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
            </div>
            <div class="shadow-md rounded px-8 pt-6 pb-8 mb-4">
              <div class="form-actions nav-button-lender btn btn-info">
                <%= f.button :submit, "Change my password" %>
              </div>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
