<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #146add;">
      <div class="navbar-brand">
        <img src="<%= image_path "lendya-logo1.png" %>" alt="Lendya Logo" width="100" height="100" class="brand-logo d-inline-block align-top">
      </div>
      <div class="d-flex justify-content-end navbar-buttons">
        <% if user_signed_in? %>
        <!--<%= current_user.email %>-->
          <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', :class => "btn btn-primary m-2" %>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path, :class => "btn btn-primary m-2" %>
          <%= link_to 'Login', new_user_session_path, :class => "btn btn-primary m-2"%>
        <% end %>
        <%= link_to 'Become a lender!', new_item_path, :class => "btn btn-primary m-2" %>
       </div>
     </div>
  </div>
