<div class="homeHeadContent fixed-top">
  <div class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-brand">
      <img src="<%= image_path "lendya-logo1.png" %>" alt="Lendya Logo" class="brand-logo">
    </div>
    <div class="d-flex justify-content-end align-items-center m-4">
      <%= link_to 'Become a lender', new_item_path, :class => "nav-button-lender btn btn-warning" %>
      <% if user_signed_in? %>
      <!--<%= current_user.email %>-->
        <%= link_to 'SIGN OUT', destroy_user_session_path, method: 'delete', :class => "nav-text" %>
      <% else %>
        <%= link_to 'SIGN UP', new_user_registration_path, :class => "nav-text" %>
        <%= link_to 'LOGIN', new_user_session_path, :class => "nav-text"%>
      <% end %>
    </div>
  </div>

  <div class="mainClaimText">
    <h1><strong>You own too many things?</strong></h1>
    <h1><strong>Rent it out from your neighborhood lenders!</strong></h1>
  </div>

  <div class="searchBar">
  </div>
</div>

<div class="videoContainer">
</div>
