<div class="homeHeadContent">
  <div class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-brand">
      <img src="<%= image_path "lendya-logo-yellow.png" %>" alt="Lendya Logo" class="brand-logo">
    </div>
    <div class="d-flex justify-content-end align-items-center m-4">
      <%= link_to 'Become a lender', new_item_path, :class => "nav-button-lender btn btn-info" %>
      <% if user_signed_in? %>
      <!--<%= current_user.email %>-->
        <%= link_to 'SIGN OUT', destroy_user_session_path, method: 'delete', :class => "nav-text" %>
      <% else %>
        <%= link_to 'SIGN UP', new_user_registration_path, :class => "nav-text" %>
        <%= link_to 'LOGIN', new_user_session_path, :class => "nav-text"%>
      <% end %>
    </div>

  </div>
  <div class="mainClaimText">
    <h1><strong>You own too many things?</strong></h1>
    <h1><strong>Rent it out from your neighborhood lenders!</strong></h1>
  </div>
  <div class="container-search-bar">
   <%= form_tag items_path, :class => "search-bar", method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control search-input",
    placeholder: "What do you need?"
    %>
    <%= submit_tag "Search", class: "nav-button-lender btn btn-info" %>
  <% end %>
  </div>

</div>

<div class="overlay">
  <video class="intro-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="<%= image_path "lendyaintro.mp4" %>" type="video/mp4">
  </video>
  <div class="overlay-text">
    <h2>What do you need?</h2>
    <%= link_to 'Browse', items_path, :class => "browse-button btn btn-lg btn-info"  %>
  </div>
</div>
