<div class="bg-index" id="bg-index">
  <div class="navbar navbar-expand-lg navbar-light">
    <div class="logo-and-search">
      <div class="navbar-brand">
        <%= link_to root_path do %>
        <%= image_tag "lendya-logo-yellow.png", class:"brand-logo" %>
        <% end %>
      </div>
      <div class="container-search-bar non-home-search-bar">
        <%= form_tag items_path, :class => "search-bar", method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control search-input",
          placeholder: "Do you need anything else?"
        %>
        <%= submit_tag "Search", class: "nav-button-lender btn btn-info", id: "search-button" %>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-center m-4">
      <%= link_to 'Become a lender', new_item_path, :class => "nav-button-lender btn btn-info" %>
      <% if user_signed_in? %>
      <!--<%= current_user.email %>-->
        <%= link_to 'MANAGE BOOKINGS', dashboard_path, :class => "nav-text" %>
        <%= link_to 'SIGN OUT', destroy_user_session_path, method: 'delete', :class => "nav-text" %>
      <% else %>
        <%= link_to 'SIGN UP', new_user_registration_path, :class => "nav-text" %>
        <%= link_to 'LOGIN', new_user_session_path, :class => "nav-text"%>
      <% end %>
    </div>
  </div>

  <div class="under-nav-breaker">
    <!-- Make space under navbar -->
  </div>


  <div class="container-number-items">
    <div class="text-center p-2">
      <div class="col">
        <% if @query %>
          <p>You searched for <strong><%= @query %></strong>. We found <%= @items.count %> items out of our <%= Item.count %> on our website.</p>
        <% else %>
          <p>All <%= Item.count %> items</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="cards" id="cards-container">
    <% @items.each do |item| %>
      <div class="item-card">
        <%= link_to  item_path(item) do %>
        <div class="item-card-image">
          <% if item.photo.key.nil? %>
          <% else %>
            <%= cl_image_tag item.photo.key, class: "item-avatar" %>
          <% end %>
        </div>
        <div class="card-item-content">
          <h2><%= item.title %></h2>
          <p><%= item.category %></p>
        </div>
        <div class="card-item-pricing">
          <div class="rate">
          <%= sanitize item.stars %>
          <span>(<%= item.average.round(1) %>)</span>
          <% if item.reviews.length < 1 %>
          <small><p><%= "No reviews"%></p></small>
          <% elsif item.reviews.length == 1 %>
            <small><p><%= "#{item.reviews.length} review"%></p></small>
          <% else  %>
            <small><p><%= "#{item.reviews.length} reviews"%></p></small>
          <% end %>
          </div>
          <h2><%= item.price %> € / Day</h2>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <h3 class="text-center"><%= link_to "Go back", root_path, :class => "btn btn-link" %></h3>
</div>

<!-- Load JS -->
<%= javascript_pack_tag 'adjust_bg_index' %>
