  <div class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-brand">
      <img src="<%= image_path "lendya-logo-yellow.png" %>" alt="Lendya Logo" class="brand-logo">
    </div>
    <div class="d-flex justify-content-end align-items-center m-4">
      <%= link_to 'Become a lender', new_item_path, :class => "nav-button-lender btn btn-info" %>
      <% if user_signed_in? %>
      <!--<%= current_user.email %>-->
        <%= link_to 'SIGN OUT', destroy_user_session_path, method: 'delete', :class => "nav-text" %>
      <% else %>
        <%= link_to 'SIGN UP', new_user_registration_path, :class => "nav-text" %>
        <%= link_to 'LOGIN', new_user_session_path, :class => "nav-text"%>
      <% end %>
    </div>
  </div>

</div>
<div class="container py-5">
  <div class="row">
    <div class="form-upload shadow-sm p-3 mb-5 bordered col-12 col-md-6 offset-lg-3 justify-content-center p-5">
      <div class="shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <div class="centered"> <h2>Share your item with the community!</h2></div>
            <%= simple_form_for(@item) do |f| %>
              <%= f.input :title, placeholder: "Name your item", class: "form-inputs" %>
              <%= f.input :category, placeholder: "What's the category?", :class => "input-field" %>
              <%= f.input :price, placeholder: "What's the daily price?", :class => "input-field" %>
              <%= f.input :description, placeholder: "Provide some more info!", :class => "input-field" %>
              <%= f.input :condition, placeholder: "How would you describe the condition?", :class => "input-field" %>
              <%= f.input :delivery, placeholder: "Can you deliver the item?", :class => "input-field" %>
              <%= f.input :long_rental, :class => "input-field" %>
              <%= f.input :availability, :class => "input-field" %>
              <%= f.input :photo, as: :file, :class => "input-field" %>

              <div>
                <p class="text-center text-gray-500 text-xs">
                Make sure that all information is correct!
                </p>
              </div>
              <div class="text-center">
                <%= f.button :submit, "Upload", class: "btn btn-warning upload-btn nav-text" %>
              </div>
          </div>
            <div class="centered">
              <%= link_to 'Back', items_path %>
            </div>

      </div>
      </div>
  </div>


            <% end %>
