<div class="bg-show">
  <div class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-brand">
      <img src="<%= image_path "lendya-logo-yellow.png" %>" alt="Lendya Logo" class="brand-logo">
    </div>
    <div class="d-flex justify-content-end align-items-center m-4">
      <%= link_to 'Become a lender', new_item_path, :class => "nav-button-lender btn btn-info" %>
      <% if user_signed_in? %>
      <!--<%= current_user.email %>-->
        <%= link_to 'SIGN OUT', destroy_user_session_path, method: 'delete', :class => "nav-text" %>
      <% else %>
        <%= link_to 'SIGN UP', new_user_registration_path, :class => "nav-text" %>
        <%= link_to 'LOGIN', new_user_session_path, :class => "nav-text"%>
      <% end %>
    </div>
  </div>

  <div class="show-container">
    <div class="item-show-container">
      <div class="item-show-header">
        <h4><%= @item.title %></h4>
        <div class="item-header-info">
          <div class="rate">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <span> &#183; 12 Reviews &#183; Berlin, Germany</span>
          </div>
            <% if @item.availability == true %>
            <p class="available-text">The <strong><%= @item.title %></strong> is availabe! Go rent it!</p>
            <% else %>
            <p class="not-available-text">The <strong><%= @item.title %></strong> is currently not available!</p>
            <% end %>
        </div>
        <% if @item.photo.key.nil? %>
          <img src="https://images.unsplash.com/photo-1572981779307-38b8cabb2407?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332" alt="">
        <% else %>
          <%= cl_image_tag @item.photo.key, class: "item-img" %>
        <% end %>
      </div>
      <div class="item-description">
        <h6>Description</h6>
        <% if !@item.description.empty? %>
          <p><%= @item.description %></p>
        <% else %>
          <p>The owner hasn't provided a desciption yet</p>
        <% end %>
      </div>
      <div class="item-extras">
        <% has_extras = false %>
        <% if @item.long_rental || @item.delivery %>
          <% has_extras = true %>
        <% end %>
        <% if has_extras == true %>
          <h6>Extras:</h6>
        <% end %>
        <div class="list-item">
          <% if @item.long_rental == true %>
            <p>&#x2705;	Owner accepts long rental</p>
          <% end %>
        </div>
        <div class="list-item">
          <% if @item.delivery == true %>
            <p>&#x2705;	Owner offers to deliver</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="middle-breaker-container"></div>
    <div class="booking-confirm-outer-container">
      <div class="booking-confirm-inner-container">
        <div class="item-show-price">
          <p class="price-per-day"><%= @item.price %>€ / day</p>
        </div>
        <div class="rental-days">
          <span>Start Day - End Day</span>
        </div>
        <div class="booking-button">
          <%= link_to "Confirm Booking", item_bookings_path(@item), method: :post, :class => "btn"%>
        </div>
        <div class="price-calculation-days row">
          <div class="col-sm">
          <p class="price-title"><%= @item.price %> € x 3 days</p>
          </div>
          <div class="col-sm">
            <p class="price-number"><% price = @item.price * 3 %> <%= price %> €</p>
          </div>
        </div>
        <div class="price-service-fee row">
          <div class="col-sm">
          <p class="price-title">Service fee</p>
          </div>
          <div class="col-sm">
            <p class="price-number">3 €</p>
          </div>
        </div>
        <div class="price-calculation-total row">
          <div class="col-sm">
            <p class="price-total"><strong>Total</strong></p>
          </div>
          <div class="col-sm">
            <p class="price-number"><strong><%= price + 3 %> €</strong></p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
