<h1>Write a review for <%= @booking.item.title %></h1>
<%= simple_form_for([ @booking, @review ]) do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content%>
        <%= f.submit class: 'btn booking-btn' %>
      <% end %>
      <%= link_to "See all bookings", items_path %>
